h1{

font-size:clamp(4rem,8vw,6rem);

line-height:.95;

font-weight:600;

letter-spacing:-0.04em;

}

h2{

font-size:clamp(2.8rem,5vw,4rem);

line-height:1;

letter-spacing:-0.03em;

font-weight:600;

}

h3{

font-size:2rem;

font-weight:600;

}

p{

font-size:1.125rem;

line-height:1.8;

color:var(--muted);

}

small{

font-size:.875rem;

color:var(--subtle);

}

.mono{

font-family:"IBM Plex Mono",monospace;

letter-spacing:.05em;

}