.container{

width:min(92%,1280px);

margin:auto;

}

.section{

padding:160px 0;

}

.center{

display:flex;

justify-content:center;

align-items:center;

}

.grid2{

display:grid;

grid-template-columns:1fr 1fr;

gap:80px;

}

@media(max-width:900px){

.grid2{

grid-template-columns:1fr;

}

}